page {
  background-color: #ffffff;
  
  --font-size-xs: 20rpx;
  --font-size-sm: 24rpx;
  --font-size-md: 28rpx;
  --font-size-lg: 32rpx;
  
  --tabbar-height: 100rpx;
  --tabbar-item-icon-size: 36rpx;
}

view {
  box-sizing: border-box;
}