page {  
  --font-size-xs: 20rpx;
  --font-size-sm: 24rpx;
  --font-size-md: 28rpx;
  --font-size-lg: 32rpx;
  
  --tabbar-height: 100rpx;
  --tabbar-item-icon-size: 36rpx;

  --blue: #1989fa;
  --text-color: #323233;
  --text-secondary-color: #969799;
  background-color: #eee;
}

view {
  box-sizing: border-box;
}