.itemWrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    color: white;
    border-radius: 20px;
    font-size: var(--font-size-md, 28rpx);

    .name {
        font-size: 1.5em;
        margin-bottom: 8Px;
    }
}

.list {
    box-sizing: border-box;
    width: 100%;
    padding: 0 8Px;

    .slideUpIn {
        animation: slideUp 0.5s ease;
    }

    @keyframes slideUp {
        from {
            transform: translateY(50%);
            opacity: 0.3;
        }
        to {
            transform: translateY(0);
            opacity: 1.0;
        }
    }
}